<<<<<<< HEAD
=======
<div> <button id="save"> Save Your Floor </button> </div>
<div> <button id="create_table"> Create Table </button> </div>
<div id="input_forms"> </div>
<div id="tables"> </div>
<div id="floorplan"></div>
>>>>>>> added the ability to select chairs via a list
<div class="container">
  <h1>Sign In</h1>
  <% if flash[:notice] %>
    <p class="flash-error"><%= flash[:notice] %></p>
  <% end %>
  <%= form_tag create_session_url do %>
    <p>
      <%= text_field_tag :email, params[:email], :placeholder => "example@email.com" %>
    </p>
    <p>
      <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
    </p>
    <p><%= submit_tag "Log in", class: "button" %></p>
  <% end %>

  <div class="sign_up">
    <p><%= link_to "Customer Sign Up?", new_customer_profile_path(@customer_profile) %></p>
    <p><%= link_to "Restaurant Sign Up?", new_restaurant_profile_path(@restaurant_profile) %></p>
  </div>
</div>
