<div class="container">
  <h1>Log in</h1>
  <% if flash[:notice] %>
    <p class="flash-error"><%= flash[:notice] %></p>
  <% end %>
  <%= form_tag create_session_url do %>
    <p>
      <%= text_field_tag :email, params[:email], :placeholder => "grace.hopper@dbc.com" %>
    </p>
    <p>
      <%= password_field_tag :password, params[:password], :placeholder => "Enter Password" %>
    </p>
    <p class="button"><%= submit_tag "Log in" %></p>
  <% end %>

  <div>
    <p><%= link_to "Customer Sign Up?", new_customer_profile_path(@customer_profile) %></p>
    <p><%= link_to "Restaurant Sign Up?", new_restaurant_profile_path(@restaurant_profile) %></p>
  </div>
</div>
