<div class="container">
  <h1>Log in</h1>
  <%= form_tag create_session_url do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Log in", class: "button" %></p>
  <% end %>

  <div>
    <p><%= link_to "Customer Sign Up?", new_customer_profile_path(@customer_profile) %></p>
    <p><%= link_to "Restaurant Sign Up?", new_restaurant_profile_path(@restaurant_profile) %></p>
  </div>
</div>
