<%= form_for @customer do |f| %>
  <%= f.fields_for :user do |u| %>
    <% if @customer.errors.any? %>
      <div class="error_messages">
        <h2>Please try again.</h2>
        <ul>
          <% for message in @customer.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= u.text_field :email, :placeholder => "example@email.com" %>
    </p>
    <p>
      <%= u.text_field :phone_number, :placeholder => "Phone Number" %>
    </p>
      <%= f.text_field :zip_code, :placeholder => "Zip Code" %>
    </p>
    <p>
      <%= u.password_field :password, :placeholder => "Password" %>
    </p>
    <p>
      <%= u.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    </p>
    <p><%= f.submit "Save Account", class: "button"%></p>
  <% end %>
<% end %>
