<%= link_to "Back to Dashboard", restaurant_profiles_url %>
<div class="active-carts">
  <h1><%= current_restaurant_profile.restaurant_name %> Open Carts</h1>
  <ul>
    <% @confirmed_carts.each do |cart| %>
    <li><a href="carts/<%= cart.id %>" id="<%= cart.id %>"><%= cart.id %></a></li>
    <% end %>
  </ul>
  <ul class="pending-carts">
  </ul>
</div>
