<% if current_restaurant_profile %>
<ul class="restaurant_nav">
  <li><%= link_to "View Outstanding Orders", carts_url %></li>
  <li><%= link_to "Back to Dashboard", restaurant_dashboard_url %></li>
</ul>
<% end %>
<% if current_restaurant_profile %>
<h1 class="title">Items for Table <%= @table.id %> Seat <%= @seat.id %></h1>
<% else %>
<h1 class="title">Total Order</h1>
<% end %>
<div class="container">
  <% @cart.orders.each do |order| %>
  <ul class="seat_order">
    <li class="item"><%= order.menu_item.name %></li>
    <li class="price">$<%= order.menu_item.to_dollars %></li>
  </ul>
  <% end %>
  <% if current_customer_profile %>
  <hr>
  <div>
    <ul class="order_total">
      <li class="item">TOTAL</li>
      <li class="total">$<%= @cart.total %></li>
    </ul>
  </div>
  <% end %>
  <br><br><br>

  <% if @cart.status == "confirmed" %>
  Order Status: Pending - (Order has not been completed)
  <% if session[:restaurant_profile_id] %>
  <br>
  <%= link_to "Mark Order as Processed", close_cart_path(@cart), method: :post, :class => "close_out" %>
  <% end %>
  <% elsif @cart.status == "completed" %>
  Order Status: Closed - (Order received and delivered to customer/processed)
  <% elsif @cart.status == "open"%>
  Please go back and confirm your order
  <%= link_to "Confirm my order", edit_cart_path(@cart) %>
  <br>
  <% end %>
  <% if current_customer_profile %>
    <%= render :partial => 'charges/form' %>
  <% end %>
</div>

<% if current_customer_profile %>
<nav class="customer_nav">
  <ul>
  <li class="left_option"><%= link_to "Back to Menu", restaurant_profile_path(@restaurant)%></li>
  <li class="right_option"><%= link_to "Edit Profile", edit_customer_profile_url(current_customer_profile) %></li>
  </ul>
</nav>
<% end %>
