<h1>Items for Table <%= @table.id %> Seat <%= @seat.id %></h1>
<div class="container">
  <% @cart.orders.each do |order| %>
    <ul>
    <li class="item"><%= order.menu_item.name %></li>
    <li class="price"><%= order.menu_item.price %></li>
    </ul>
  <% end %>
  <hr>
    <p class="item">TOTAL</p>
  <br><br><br>

  <% if @cart.status == "confirmed" %>
    Order Status: Pending - (Order has not been completed)
  <% elsif @cart.status == "completed" %>
    Order Status: Closed - (Order received and delivered to customer/processed)
  <% elsif @cart.status == "open"%>
    Please go back and confirm your order
    <br>
  <% end %>
</div>
  <% if session[:restaurant_profile_id] %>
    <br>
    <%= link_to "Close Out This Order", close_cart_path(@cart), method: :post %>
  <% else %>
    <br>
    <%= link_to "Confirm my order", edit_cart_path(@cart) %>
  <% end %>

  <nav class="customer_nav">
    <%= link_to "Back to Menu", restaurant_profile_path(@restaurant)%>
  </nav>
