<%= form_for @restaurant do |f| %>
  <%= f.fields_for :user do |u| %>
    <% if @restaurant.errors.any? %>
      <div class="error_messages">
        <h2>Please try again.</h2>
        <ul>
          <% for message in @restaurant.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.text_field :restaurant_name, :placeholder => "Restaurant Name" %>
    </p>
    <p>
      <%= f.text_field :account_holder_first_name, :placeholder => "First Name" %>
    </p>
    <p>
      <%= f.text_field :account_holder_last_name, :placeholder => "Last Name" %>
    </p>
    <p>
      <%= f.text_field :restaurant_url, :placeholder => "Web Site URL" %>
    </p>
    <p>
      <%= f.text_field :street_address, :placeholder => "Restaurant Address" %>
    </p>
    <p>
      <%= f.text_field :street_address_2, :placeholder => "Restaurant Address" %>
    </p>
    <p>
      <%= f.text_field :city, :placeholder => "City" %>
    </p>
    <p>
      <%= f.text_field :state, :placeholder => "State" %>
    </p>
    <p>
      <%= f.text_field :zip_code, :placeholder => "Zip Code" %>
    </p>
    <p>
      <%= u.text_field :email, :placeholder => "example@email.com" %>
    </p>
    <p>
      <%= u.text_field :phone_number, :placeholder => "Phone Number" %>
    </p>
    <p>
      <%= u.password_field :password, :placeholder => "Password" %>
    </p>
    <p>
      <%= u.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    </p>
    <p><%= f.submit "Save Account", class: "button"%></p>
  <% end %>
<% end %>
