<h1><%= @restaurant.menus.first.title %></h1>

<div data-role="page" id="page2">
    <div data-role="content">
        <div data-role="collapsible-set">
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    <%= @restaurant.menus.first.categories.first.title %>
                </h3>
                <ul>
                    <%= form_tag("/orders", :method => "post") do%>
                      <input type="hidden" value="<%= @restaurant.id %>" name="profile_id">
                      <% @restaurant.menus.first.categories.first.menu_items.each do |item| %>
                        <li><%= item.name %></li>
                        <p><%= item.description %></p>
                        <p><%= item.price %></p>
                        <%= check_box_tag "item_ids[]", item.id%>
                        <%= label_tag :order_item, "Order this Item!" %>
                      <% end %>
                        <br>
                        <br>
                        <%= submit_tag("Submit Order", :class => "btn btn-success") %>
                    <% end %>
                </ul>
            </div>
            <% if @cart %>
                <%= link_to "My cart", cart_url(@cart) %>
            <% end %>
        </div>
    </div>
</div>
