<!DOCTYPE html>
<html>
<head>
  <title>ServeMe</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

</head>
<body class="<%= params[:controller] %>">
  <header>
    <h2>ServeMe</h2>
    <% if current_customer_profile || current_restaurant_profile %>
      <div class="log-out">
        <span><%= link_to "Log Out", logout_path, method: :post, :class => "logout"%></span>
      </div>
    <% end %>
  </header>
<%= yield %>
</body>
</html>
