<!DOCTYPE html>
<html>
<head>
  <title>RestMan</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

</head>
<body class="<%= params[:controller] %>">

<%= yield %>

</body>
</html>
